body {
  margin: 0;
}

#container {
  border: 1px solid maroon;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.box {
  padding: 10px;
  margin: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  background-image: url("../img/antman.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  
}

#box1 {
  border-color: red;
  border-style: dashed;
}

#box2 {
  border-color: orange;
  border-style: dotted;
}

#box3 {
  border-color: yellow;
  border-style: double;
  border-radius: 10px;
}

#box4 {
  border-color: green;
  border-style: groove;
  border-radius: 50%;
  font-family: 'Climate Crisis', cursive;
}

#box5 {
  border-color: blue;
  border-style: ridge;
}

#box6 {
  border-color: indigo;
  border-style: outset;
}

#box7 {
  border-color: violet;
  border-style: inset;
}